
:root {
  --black: #171321;
  --green: #21a743;
  --lgreen: #00F14C;
  --dkgreen: rgb(0, 165, 100);
  --lorange: rgb(255, 226, 18);
  --yellow: #FFFF00;
  --orange: rgb(255, 159, 16);
  --alabester: #EDEADE;
  --burnoak:  #442a22;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  font-size: var(--font-size);
  color: grey;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type="text"],

input[type="password"],

textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}

/* auth page ----------------------------------------------------------------- */

/* .auth {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 150vh; 
} */

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  gap: 2rem;
}
form > h2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 1.5rem;
}

label {
  /* font-weight: bold; */
  margin-bottom: .5rem;
}

 input {
  padding: 1rem;
  font-size: var(--font-size);

} 

/* nav component ------------------------------------------------------------------ */

.navbar {
  font-family: var(--mono);
  padding: 4rem 4rem;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: black;
  padding-bottom: 5rem;

}

.navbar a {
  color: darkgray;
  text-decoration: none;

}
.navbar a:hover {
  margin: 0;
  padding: 0;
  color: lightgray;
  border-bottom: 1px solid white;

}
.navbar a:active {
  text-decoration: none;
  border-bottom: 1px solid white;
  color: white;
}

/* create places */

.create-place {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: white;



  /* margin-top: 20rem; */
  margin-bottom: 25rem;
  width: 25rem;
  color: grey;
}
.create-place form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: grey;
}


.button {
  padding: .5rem 1rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: grey;
  background-color: #e1e1e1;
  border: none;
  border-radius: .5rem;
  box-shadow: 0 .5rem #999;

}

.button:hover {background-color: #f6f6f6}

.button:active {
  background-color: #f6f6f6;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* search pages */
.search {
  margin-top: 5rem;
  margin-bottom: 15rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;

}
.search ul {
  list-style: none;
  padding: 5rem;
  margin: 5rem;
}

.search li {

  padding: 3rem;
  margin-bottom: 5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
/* .search li:hover {
  border: .2rem solid whitesmoke;
  border-radius: .5%;


} */

.search h1 {
  
    display: block;
    font-size: 3rem;
    margin-top: 15rem;
    margin-bottom: 15rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-weight: bold;
    font-family: var(--mono);
}
.search  h2 {
  display: block;
  font-size: 3rem;
  margin-top: 20rem;
  margin-bottom: 35rem;
  margin-left: 5rem;
  margin-right: 5rem;
  font-weight: bold;
  font-family: var(--mono);

}


/* buttons  -------------------------------------------------------*/

.save-btn {
  display: inline-block;
  padding: .2rem .5rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: whitesmoke;
  border: 1px solid  #999;
  border-radius: .2rem;
  box-shadow: 0 .5rem #999;

}
.save-btn:hover {
  background-color: white;
}
.save-btn:active {
  background-color: red;
}

/* serach places */

.places > h2 {
  color: grey;
  margin-top: 3rem;
  margin-bottom: 3rem;

}

.places > p {
  color: grey;
  font-size: 3rem;
}


.example {
  margin: 1rem 0;
  text-align: center;
  box-shadow: 10px 10px #454545;
  
}

.example > img {
  width: 45vw;
  height: 30vw;

}

.example-cover > img {
  width: 45vw;
  height: 30vw;
  object-fit: cover;
}
.search h2{
  color: lightgray;
  text-shadow: 1px 1px 1px #000000;
  font-style: oblique;
}
.search h1{
  /* color: whitesmoke; */
  text-shadow: 1px 1px 1px #000000;
}
.search p {
  width: 45vw;
  font-size: var(--font-size);
  /* font-style:oblique; */
}
.quote {
  font-style: italic;
}
.imghome {
  margin: 2rem 0;
  text-align: center;
}


.imghome > img {
  width: 40vw;
  height: 40vw;
}
.imghome-cover > img {
  width: 90vw;
  height: 40vw;
  object-fit: cover;
}



.create-place  h1 {
  display: block;
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  font-weight: bold;
  font-family: var(--mono);
}
.create-place > h2 {
  padding: 5rem;
}

.homediv > img {
  width: 50vw;
  height: 50vw;
}
.homediv-cover > img {
  width: 50vw;
  height: 50vw;
  object-fit: cover;
}

.homepage {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 80rem;
  padding-bottom: 80rem;

}
.bkg img {
  width: 100%;
  opacity: 0.5;
}

.bkg img:hover {
  width: 100%;
  opacity: 1;

}

.fontfooer {
  width: 100%;
  background-color: black;
  color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;

  padding-top: 10rem;
  padding-bottom: 5rem;

}
.gradient {
  height: .2rem;
  width: 100%; 
  background: linear-gradient(to right, #000000 0%, #ffffff 100%);
}
.home-p {
  padding: 1rem;
  font-style: oblique;
  margin-top: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap:1rem;
  padding: 1rem;
}
.home-p:hover {
  color: white;

}





/* https://excellencereporterdotcom.files.wordpress.com/2020/12/ethics-centre_big-thinkers-rumi.jpg */

/* https://www.quotemirror.com/wp-content/uploads/2014/06/author.rumi_-326x325.jpg */

/* https://mydattatreya.com/wp-content/uploads/2021/12/image-3-6.jpeg */

/* https://static.wixstatic.com/media/059b3c_bb5d65a8a0ea4cd4ae353076e3b740d0~mv2.jpg/v1/fill/w_640,h_480,fp_0.56_0.37,q_80,usm_0.66_1.00_0.01,enc_auto/059b3c_bb5d65a8a0ea4cd4ae353076e3b740d0~mv2.jpg */

/* https://audiobuddha.org/wp-content/uploads/2022/06/Tao-Te-Ching-by-Lao-Tzu.jpg */


/* dounov */
/* garden */
/* https://upload.wikimedia.org/wikipedia/commons/f/fc/Sofia-peter-deunov-grave-5.jpg */
/* img */
/* https://bb.beinsadouno.org/wp-content/uploads/2018/02/rila_36_SV-copy.jpg */
